footer
	.container
		.footer-wrap
			nav.footer-nav
				a(href="gioithieu.html") Giới thiệu
				a(href="water.html") Waterwel
				a(href="sun.html") Sunwel
				a(href="lienhe.html") Liên hệ
			.copyright © 2018 Teqto.  All rights reserved.