header
	.container
		.header-main
			.sitelogo
				a(href="index.html")
					img(src="img/logo.png", alt="")
			.btn-showmenu <i class="material-icons">menu</i>
			nav.menu
				.menu-logo
					.sitelogo
						a(href="index.html")
							img(src="img/logo.png", alt="")
					.btn-closemenu <i class="material-icons">close</i>
				ul.menu-link
					li
						a(href="gioithieu.html") Giới thiệu
					li
						a(href="water.html") Waterwel
					li
						a(href="sun.html") Sunwel
					li
						a(href="lienhe.html") Liên hệ