section.about-section
	.container
		.row
			.col-12.col-lg-6.img
				.about-img
					img(src="img/about/1.png", alt="")
			.col-12.col-lg-6.text
				.about-intro
					h1.about-title TEQTO - Giúp cho những người làm nông nghiệp "Nắm cả trang trại trong tầm tay"
					.about-content Tại TEQTO, chúng tôi tập trung vào việc tạo ra những thiết bị, phần mềm nhằm làm giảm năng lượng tiêu hao, đo đạc và phân tích các chỉ số môi trường, điều khiển máy móc tự động nhằm giúp người làm nông nghiệp có được thông tin mọi lúc, mọi nơi, đưa ra những xử lý đúng thời điểm, tiết kiệm thời gian và cắt giảm chi phí.
section.about-section.s2
	.container
		.row
			.col-12.col-lg-6.img
				.about-img
					img(src="img/about/2.png", alt="")
			.col-12.col-lg-6.text
				.about-intro
					h2.about-title Năng lực của TEQTO
					.about-content Ở TEQTO, chúng tôi hoàn toàn tin tưởng vào đội ngũ kỹ sư Việt Nam, họ có đủ khả năng để làm ra các sản phẩm đạt tiêu chuẩn quốc tế. Cùng với nhà máy sản xuất thiết bị đặt tại Thành phố Hồ Chí Minh, TEQTO chủ động trong việc sản xuất từ sản phẩm mẫu để thử nghiệm ý tưởng cho đến sản xuất hàng loạt để đáp ứng cho nhu cầu thị trường.
section.home-contact
	.container
		.contact-wrap
			.contact-intro Mọi sự hợp tác đều có khởi đầu vô cùng đơn giản – từ một cuộc trò chuyện. Hãy cho chúng tôi có cơ hội cùng bạn đồng hành vào kỷ nguyên của Nông nghiệp thông minh.
			.btn-wrap
				a.btn.btn-white.big(href="lienhe.html") Liên hệ