section.home-banner
	.container
		h1.banner-caption TEQTO - Giúp cho những người làm nông nghiệp "Nắm cả trang trại trong tầm tay"
		.banner-content Tại TEQTO, chúng tôi tập trung vào việc tạo ra những thiết bị, phần mềm nhằm làm giảm năng lượng tiêu hao, đo đạc và phân tích các chỉ số môi trường, điều khiển máy móc tự động nhằm giúp người làm nông nghiệp có được thông tin mọi lúc, mọi nơi, đưa ra những xử lý đúng thời điểm, tiết kiệm thời gian và cắt giảm chi phí.
		.btn-wrap
			a.btn.btn-primary(href="gioithieu.html") Về chúng tôi
	.banner-img
		img(src="img/home/1.png", alt="")

section.home-product
	.container
		.row
			.col-12.col-lg-6.text
				.product-intro
					h2.product-title Waterwel
					.product-des Thiết bị đo thông số nước hồ nuôi
					.product-content Được thả trên mặt nước hồ nuôi, Waterwel tự hoạt động dựa trên nguồn điện năng lượng mặt trời và pin dự phòng. Định kỳ mỗi 30 phút, các thông số nước như PH, độ mặn, nhiệt độ, lượng Oxy hòa tan, khí độc NH3, H2S, hàm lượng Mg, Ca trong nước, … sẽ được gửi đến điện thoại di động hay màn hình TV có kết nối internet.  
					.product-feature
						.row
							.col-12.col-sm-6
								.feature
									figure
										.feature-icon
											img(src="img/feature/1.png", alt="")
										figcaption
											.feature-name Tiết kiệm thời gian, tiền bạc và nhân công
							.col-12.col-sm-6
								.feature
									figure
										.feature-icon
											img(src="img/feature/2.png", alt="")
										figcaption
											.feature-name Hạn chế lây lan mầm bệnh
							.col-12.col-sm-6
								.feature
									figure
										.feature-icon
											img(src="img/feature/3.png", alt="")
										figcaption
											.feature-name Tính chính xác và độ bền của thiết bị
							.col-12.col-sm-6
								.feature
									figure
										.feature-icon
											img(src="img/feature/4.png", alt="")
										figcaption
											.feature-name Chi phí đầu tư thấp
					.product-link
						a(href="#!") Xem chi tiết
			.col-12.col-lg-6.img
				.product-img
					img(src="img/home/2.png", alt="")
section.home-product.s2
	.container
		.row
			.col-12.col-lg-6.text
				.product-intro
					h2.product-title Sunwel
					.product-des Hệ thống năng lượng mặt trời hòa lưới
					.product-content Hệ thống hoạt động tự động qua cơ chế hấp thu ánh sáng mặt trời để tạo ra nguồn điện sử dụng sản xuất, sinh hoạt. Khi nguồn điện tạo ra dư thừa sẽ được tải lên lưới điện quốc gia để sử dụng sau, lúc nguồn điện thiếu hụt sẽ sử dụng nguồn điện bổ sung từ điện lưới.
					.product-feature
						.row
							.col-12.col-sm-6
								.feature
									figure
										.feature-icon
											img(src="img/feature/a1.png", alt="")
										figcaption
											.feature-name Giảm hóa đơn tiền điện
							.col-12.col-sm-6
								.feature
									figure
										.feature-icon
											img(src="img/feature/a2.png", alt="")
										figcaption
											.feature-name Tăng giá trị công trình
							.col-12.col-sm-6
								.feature
									figure
										.feature-icon
											img(src="img/feature/a3.png", alt="")
										figcaption
											.feature-name Tuổi thọ dài & bảo dưỡng dễ dàng
							.col-12.col-sm-6
								.feature
									figure
										.feature-icon
											img(src="img/feature/a4.png", alt="")
										figcaption
											.feature-name Đảm bảo nguồn điện liên tục
					.product-link
						a(href="#!") Xem chi tiết
			.col-12.col-lg-6.img
				.product-img
					img(src="img/home/3.png", alt="")
section.home-contact
	.container
		.contact-wrap
			.contact-intro Mọi sự hợp tác đều có khởi đầu vô cùng đơn giản – từ một cuộc trò chuyện. Hãy cho chúng tôi có cơ hội cùng bạn đồng hành vào kỷ nguyên của Nông nghiệp thông minh.
			.btn-wrap
				a.btn.btn-white.big(href="lienhe.html") Liên hệ