section.contact-page
	.container
		h1.home-title Liên hệ
		.row
			.col-12.col-md-5.col-lg-4
				.contact-info
					h2.company CÔNG TY CỔ PHẦN TEQTO
					ul
						li <i class="material-icons">place</i>Địa chỉ: 2A, Nguyễn Thị Minh Khai, phường Đakao, quận 1, Thành phố Hồ Chí Minh.
						li <i class="material-icons">public</i>Website: 
							a(href="http://www.teqto.vn") www.teqto.vn
						li <i class="material-icons">email</i>Email: 
							a(href="mailto:cs@teqto.vn") cs@teqto.vn
						li <i class="material-icons">phone</i>Hotline: 
							a(href="tel:0989.18.38.57") 0989.18.38.57
			.col-12.col-md-7.col-lg-8
				.contact-map <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.272410752614!2d106.70258361523138!3d10.790435861884525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b496fbe4cd%3A0x8cf1329caa4ba12f!2zMkEgTmd1eeG7hW4gVGjhu4sgTWluaCBLaGFpLCDEkGEgS2FvLCBRdeG6rW4gMSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1524042144911" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>