section.product-page
	.container
		.product-intro
			h2.product-title Sunwel
			.product-des Hệ thống năng lượng mặt trời hòa lưới
			.product-content Hệ thống hoạt động tự động qua cơ chế hấp thu ánh sáng mặt trời để tạo ra nguồn điện sử dụng sản xuất, sinh hoạt. Khi nguồn điện tạo ra dư thừa sẽ được tải lên lưới điện quốc gia để sử dụng sau, lúc nguồn điện thiếu hụt sẽ sử dụng nguồn điện bổ sung từ điện lưới.
section.home-product
	.container
		.row
			.col-12.col-lg-6.text
				.product-intro
					h2.product-title.s2 Giảm hóa đơn tiền điện
					.product-content Với sự bổ sung từ điện mặt trời, hóa đơn tiền điện hàng tháng có thể giảm đến 100%. Nguồn điện tạo ra dư thừa cũng được Điện lực Việt Nam (EVN) thu mua lại.
			.col-12.col-lg-6.img
				.product-img
					img(src="img/water/1.png", alt="")
section.home-product.s2
	.container
		.row
			.col-12.col-lg-6.text
				.product-intro
					h2.product-title.s2 Tăng giá trị công trình
					.product-content Khi phần mái được cách nhiệt bằng hệ thống tấm pin năng lượng mặt trời sẽ giúp giảm nóng và làm tăng giá trị công trình so với tổng chi phí đầu tư.
			.col-12.col-lg-6.img
				.product-img
					img(src="img/water/2.png", alt="")
section.home-product
	.container
		.row
			.col-12.col-lg-6.text
				.product-intro
					h2.product-title.s2 Tuổi thọ dài & bảo dưỡng dễ dàng
					.product-content Hệ thống không sử dụng các thiết bị lưu trữ điện (như ắc quy) nên không cần nhiều thời gian, chi phí cho bảo dưỡng. Thời gian hoạt động liên tục của hệ thống có thể kéo dài đến 25 năm.
			.col-12.col-lg-6.img
				.product-img
					img(src="img/water/3.png", alt="")
section.home-product.s2
	.container
		.row
			.col-12.col-lg-6.text
				.product-intro
					h2.product-title.s2 Đảm bảo nguồn điện liên tục
					.product-content Việt Nam là quốc gia có thời gian nắng trong năm cao, do vậy điện mặt trời sẽ tạo ra 1 nguồn điện độc lập, hoạt động ổn định liên tục kể cả khi điện lưới bị cắt.
			.col-12.col-lg-6.img
				.product-img
					img(src="img/home/3.png", alt="")
section.home-contact
	.container
		.contact-wrap
			.contact-intro Mọi sự hợp tác đều có khởi đầu vô cùng đơn giản – từ một cuộc trò chuyện. Hãy cho chúng tôi có cơ hội cùng bạn đồng hành vào kỷ nguyên của Nông nghiệp thông minh.
			.btn-wrap
				a.btn.btn-white.big(href="lienhe.html") Liên hệ