section.product-page
	.container
		.product-intro
			h2.product-title Waterwel
			.product-des Thiết bị đo thông số nước hồ nuôi
			.product-content Được thả trên mặt nước hồ nuôi, Waterwel tự hoạt động dựa trên nguồn điện năng lượng mặt trời và pin dự phòng. Định kỳ mỗi 30 phút, các thông số nước như PH, độ mặn, nhiệt độ, lượng Oxy hòa tan, khí độc NH3, H2S, hàm lượng Mg, Ca trong nước, … sẽ được gửi đến điện thoại di động hay màn hình TV có kết nối internet.  
section.home-product
	.container
		.row
			.col-12.col-lg-6.text
				.product-intro
					h2.product-title.s2 Tiết kiệm thời gian, tiền bạc và nhân công
					.product-content Mỗi ngày làm việc, người nuôi phải bỏ ra rất nhiều thời gian và sử dụng nhiều thiết bị khác nhau để có được các thông số nước hồ nuôi. Với Waterwel, các thông số nước ở mọi ao nuôi sẽ tự động gửi định kỳ đến điện thoại di động hay TV có kết nối internet. Nhờ đó có thể giảm nhân công, có thêm thời gian để dành cho những việc quan trọng khác.
			.col-12.col-lg-6.img
				.product-img
					img(src="img/water/1.png", alt="")
section.home-product.s2
	.container
		.row
			.col-12.col-lg-6.text
				.product-intro
					h2.product-title.s2 Hạn chế lây lan mầm bệnh
					.product-content Việc di chuyển nhiều lần trong ngày từ ao nuôi này sang ao nuôi khác cũng là nguyên nhân làm cho mầm bệnh lây lan. Waterwel giúp người nuôi hạn chế tối đa di chuyển, từ đó rủi ro được giảm hẳn.
			.col-12.col-lg-6.img
				.product-img
					img(src="img/water/2.png", alt="")
section.home-product
	.container
		.row
			.col-12.col-lg-6.text
				.product-intro
					h2.product-title.s2 Tính chính xác và độ bềnh của thiết bị
					.product-content “Trái tim” của Waterwel là các cảm biến nhập khẩu từ Mỹ và Châu Âu, thông số đo được là hoàn toàn chính xác. Độ bền của thiết bị có thể lên đến 7 năm sử dụng, cùng với chế độ bảo hành 2 năm người nuôi có thể an tâm đặt niềm tin vào Waterwel.
			.col-12.col-lg-6.img
				.product-img
					img(src="img/water/3.png", alt="")
section.home-product.s2
	.container
		.row
			.col-12.col-lg-6.text
				.product-intro
					h2.product-title.s2 Chi phí đầu tư thấp
					.product-content Nếu mỗi năm có 4 mùa vụ, Waterwel sẽ làm “phụ tá” cho người nuôi trong 28 mùa vụ liên tiếp. Chi phí dành cho Waterwel trong mỗi mùa vụ sẽ vô cùng thấp.
			.col-12.col-lg-6.img
				.product-img
					img(src="img/home/3.png", alt="")
section.home-contact
	.container
		.contact-wrap
			.contact-intro Mọi sự hợp tác đều có khởi đầu vô cùng đơn giản – từ một cuộc trò chuyện. Hãy cho chúng tôi có cơ hội cùng bạn đồng hành vào kỷ nguyên của Nông nghiệp thông minh.
			.btn-wrap
				a.btn.btn-white.big(href="lienhe.html") Liên hệ